<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    <div class="p-3 mb-2 bg-warning text-dark">
        <nav class="navbar navbar-light" style="background-color: #ffcc5e">
            <a class="navbar-brand" href="http://127.0.0.1:5000/" style="color: #f59542;">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://127.0.0.1:5000/menu" style="color: #f59542;">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/order" style="color: #f59542;">Place Order<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/current" style="color: #f59542;">Current Orders<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <p></p>
        <div class="container">
            <div class="jumbotron" style="background-color: #ffcc5e">
                <h1 class="display-4">Order Up!</h1>
                <p></p>
                <form method="get">
                    <div class="form-group">
                        <label for="size" style="color: #f59542;">Pizza Size</label>
                        <select class="form-control" id="size" aria-describedby="size_help" name="pizza_size" style="color: #f59542;">
                            <option name="disabled" disabled="disabled" style="color: #f59542;">Please pick a size</option>
                            <option name="big" style="color: #f59542;">Big</option>
                            <option name="medium" style="color: #f59542;">Medium</option>
                            <option name="small" style="color: #f59542;">Small</option>
                        </select>
                        <small id="size_help" class="form-text" style="color: #f59542;">This will be the size of your pizza.</small>
                    </div>
                    <div class="form-group">
                        <label for="cheese" style="color: #f59542;">Type of Cheese</label>
                        <select class="form-control" id="cheese" aria-describedby="cheese_description" name="cheese_type" style="color: #f59542;">
                            <option name="disabled" disabled="disabled" style="color: #f59542;">Please pick a cheese</option>
                            <option name="mozzarella" style="color: #f59542;">Mozzarella</option>
                            <option name="alfredo" style="color: #f59542;">Alfredo</option>
                            <option name="no_cheese" style="color: #f59542;">No cheese</option>
                        </select>
                        <small id="cheese_description" class="form-text" style="color: #f59542;">You can say "No cheese" if you don't want cheese</small>
                    </div>
                    <div class="form-group">
                        <p style="color: #f59542;">Available Toppings</p>
                        <input type="checkbox" id="pineapple" name="pineapple" style="border-color: #f59542;">
                        <label for="pineapple" style="color: #f59542;">Pineapple</label>
                        <p></p>
                        <input type="checkbox" id="onion" name="onion" style="border-color: #f59542;">
                        <label for="onion" style="color: #f59542;">Onion</label>
                        <p></p>
                        <input type="checkbox" id="chicken" name="chicken" style="border-color: #f59542;">
                        <label for="chicken" style="color: #f59542;">Chicken</label>
                        <p></p>
                        <input type="checkbox" id="pepper" name="pepper" style="border-color: #f59542;">
                        <label for="pepper" style="color: #f59542;">Pepper</label>
                        <p></p>
                        <input type="checkbox" id="olive" name="olive" style="border-color: #f59542;">
                        <label for="olive" style="color: #f59542;">Olive</label>
                    </div>
                    <button type="submit" class="btn btn-warning" style="color: #f59542;">Submit Choices</button>
                    <a href="http://127.0.0.1:5000/payment" style="color: #f59542;">Proceed to Payment</a>
                </form>
            </div>
        </div>

    </div>
</body>
</html>